[submodule "AdvancedSearchService"]
	path = AdvancedSearchService
	url = //cmis-zarei/WebApp$/GitServer/CMISBackendModules/AdvancedSearchService/
[submodule "AuthService"]
	path = AuthService
	url = //cmis-zarei/WebApp$/GitServer/CMISBackendModules/AuthService
[submodule "CMIS"]
	path = CMIS
	url = //cmis-zarei/WebApp$/GitServer/CMISBackendModules/CMIS
[submodule "AdoNetLib"]
	path = AdoNetLib
	url = //cmis-zarei/WebApp$/GitServer/CMISBackendModules/SHEAREDLIB/AdoNetLib/
[submodule "CMISSWAGGER"]
	path = CMISSWAGGER
	url = //cmis-zarei/WebApp$/GitServer/CMISBackendModules/SHEAREDLIB/CMISSWAGGER/
[submodule "CMISUTILITY"]
	path = CMISUTILITY
	url = //cmis-zarei/WebApp$/GitServer/CMISBackendModules/SHEAREDLIB/CMISUTILITY
